# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary names
guildWars
a[0-9]

# Our Makefile's dependency list
depend.mk

# in-tree CMake build
build
msvc64
perf-stats

# graphviz!
*.dot
*.png

# nsf files, they are on network drives
.nfs*

# External libs
ext/boost
ext/fmod
